<div class = "jumbotron">
  <h1>Welcome to SpaceCats!</h1>
  <p>This is my effort to understand what is going on when using the RESTFUL model that rails does not nicely provide for me.</p>
</div>

<div class="row">
  <div class="col-md-8"><img src="http://placekitten.com/200/300"></div>
  <div class="col-md-4"><img src="http://placekitten.com/200/300"></div>
</div>